license-key: "${license_key}"

server:
  username: "${admin_user}"
  password: "${admin_password}"
  endpoint: "${bindplane_url}"

store:
  type: postgres
  postgres:
    host: "${pg_host}"
    port: ${pg_port}
    user: "${pg_user}"
    password: "${pg_password}"
    database: "${pg_database}"
    sslmode: "${pg_sslmode}"

logging:
  level: "info"
